@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  height: 100vh;
  width: 100%;
}

/* NavBar Design */

.navbar {
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.heading {
  text-align: center;
  padding: 20px;
}

.container {
  width: 70%;
  margin: 0 auto;

}

/* Add Task */

.add-task {
  width: 80%;
  outline: none;
  font-size: 15px;
  padding: 11px;
  border: 3px solid #f3f3f3;
  margin-bottom: 3px;
}

.take-input {
  display: flex;
  justify-content: space-between;
}

/* Add task button */
#add-task-btn {
  width: 15%;
  border: 1px solid #f3f3f3;
  color: #0fce0f;
  outline: none;
  font-size: 30px;
  padding: 5px;
  margin-bottom: 3px;
  cursor: pointer;
  font-weight: bolder;
}
#add-task-btn:hover {
  background-color: #0d980d;
  color: black;
}

#total-tasks {
  margin-bottom: 20px;
  font-size: 13px;
  margin-left: 2px;
  color: gray;
}
/* List of items container */
#items-container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3%;
  column-gap: 1%;
  width: 95%;
  height: auto;
  margin: 0 auto;
  min-height: 0;
  min-width: 0;
}

.list-item {
  height: 200px;
  border: 1px solid #f3f3f3;
  padding: 10px;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  overflow: hidden;
  background: #f9f9f9;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: lavender;
}

.list-item label {
  width: 70%;
}

input.custom-checkbox {
  float: right;
  transform: scale(2);
  margin: 10px;
}

.delete {
  height: 30px;
  border-radius: 15px;
}

.delete:hover {
  background: #f2f2f2;
  cursor: pointer;
}
